body {
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog_historio_de_saques {
    width: 100%;
    height: 86vh;
    overflow-y: scroll;
}


#dialog_historio_de_saques::-webkit-scrollbar {
    width: 6px;
}

#dialog_historio_de_saques::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

#dialog_historio_de_saques::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.userPaymentName {
    width: 100%;
    white-space: nowrap;
}

.withdraw-table tbody tr:hover {
    background: #a8d7fd;
}

.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 6px;
    width: 100%;
}

.toolbar-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.filter-dates {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.filter-dates label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.filter-dates input[type="date"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.filter-dates input[type="date"]:focus {
    border-color: #007bff;
}

.filter-dates button {
    font-size: 13px;
    padding: 8px 40px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-dates button:hover {
    background-color: #0056b3;
}

.filter-dates button:active {
    background-color: #003d80;
}


select {
    width: fit-content;
    padding: 6px 10px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}


select::-ms-expand {
    display: none;
}

select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    pointer-events: none;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

select option:disabled {
    color: #aaa;
    background-color: #f2f2f2;
}

select option {
    padding: 10px;
    font-size: 13px;
}


.search-container {
    display: flex;
    justify-content: center;
}

.search-input {
    padding: 6px;
    width: 100%;
    min-width: 300px;
    flex: 1;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button,
.restore-button {
    padding: 8px 15px;
    font-size: 13.5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.restore-button {
    display: none;
    font-size: 13.5;
    background-color: blue;
    white-space: nowrap;
}

.search-button:hover,
.restore-button:hover {
    background-color: #45a049;
}


#container_floating_cashou_info {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 20px;
    right: 0;
    bottom: 0;
    width: 500px;
    height: fit-content;
    border-radius: 15px;
    padding: 10px px;
    color: white;
    cursor: move;
    overflow: hidden;
    background-color: transparent;
}

.withdrawal-dialog {
    width: 100%;
    height: 100%;
}

#div_container_handle_saques {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#btn_refuse {
    background: #ce1e2c;
    color: white;
}

#btn_aprove_and_notify {
    background: #0f6423;
    color: white;
}

.dialog-header h2 {
    font-size: 18px;
    margin: 0;
    color: rgb(68, 68, 68);
}

.img_close_dialog {
    width: 13px;
    height: 13px;
    background-color: rgb(189, 189, 189);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

#status_from_dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#div_base_gerenciar_saque_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#div_base_gerenciar_saque {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #cacaca;
}


/* Transição suave para abrir e fechar a gaveta */
#div_base_gerenciar_saque_content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

/* Quando a gaveta estiver visível, ajusta a altura e a opacidade */
#div_base_gerenciar_saque_content.visible {
    max-height: 1000px; /* valor alto para permitir o conteúdo */
    opacity: 1;
}

/* Classe para esconder inicialmente */
.hidden {
    display: none;
}

.img_close_dialog {
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Ícone de fechamento (girado) quando o conteúdo estiver visível */
.img_close_dialog.rotated {
    transform: rotate(180deg);
}
