@media screen and (min-width: 770px) {
  .drawer_icon {
    left: 40px;
    margin-left: 60px;
  }
  main {
    padding: 120px 40px 15px 40px;
  }

  .header_ul {
    padding: 15px 80px;
  }

  .main-content {
    padding: 0 100px !important;
  }

  .stat-card {
    padding-left: 30px;
  }

  .stat-value {
    margin-top: 8px;
  }
}