/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #e0f7fa, #80deea);
    color: #333;
}

* {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.card {
    position: relative;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 30px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideIn 0.6s ease-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header h1 {
    font-size: 2rem;
    color: #0097a7;
    margin-top: 50px;
}

.message {
    font-size: 1rem;
    margin: 20px 0;
    color: #555;
}

.illustration img {
    width: 100px;
    height: auto;
    margin: 20px 0;
    animation: bounce 1.2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.btn-premio {
    background-color: blue;
    color: #fff;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
}

.btn-premio:hover {
    background-color: #00796b;
    transform: scale(1.05);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.hint {
    font-size: 0.9rem;
    margin-top: 20px;
    color: #777;
}

.container_points_to_earn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #00796b;
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 0px 30px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    height: 50px;
}

.task_star {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.container_available_points,
.container_available_revenue {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 10px;
    margin: 8px;
    overflow: hidden;
    padding: 0;
}

.container_available_revenue {
    left: 10px;
    right: inherit;
}

#the_available_revenue {
    margin: 2.5px;
}

#container_available_points {
    display: flex;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: rgb(8, 126, 8);
}

#container_available_points p {
    font-size: 13px;
}


#container_available_points img {
    width: 20px;
    height: 20px;
}

#p_points_avaiable_description {
    font-size: 11px;
    color: #777;
    margin-top: 4px;
}



.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    z-index: 10;
    height: 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #296d2b;
    color: white;
    padding: 4px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.alert.hidden {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
}

.alert.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}

.alert.success {
    background-color: #319234;
}

.alert.error {
    background-color: #c72c1b;
}

.alert.warning {
    background-color: #c7ba05;
}

.alert .icon {
    font-size: 20px;
    font-weight: bold;
}

.alert .message {
    flex: 1;
    color: white;
    font-size: 14px;

}




#backLink {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 2px 20px;
    border-radius: 8px; 
    display: inline-flex;
    align-items: center;
    height: 20px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;   
}

#backLink:hover {
    background-color: #45a049; /* Cor um pouco mais escura no hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra mais intensa no hover */
    transform: translateY(-2px); /* Levanta um pouco no hover */
}

#backLink:active {
    transform: translateY(2px); 
}

#backLink i {
    margin-right: 8px; 
    font-size: 20px; 
}

#backLink span {
    font-size: 18px; 
}
